spring:
  application:
    name: ArbeitMate

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #show_sql: true
        format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  profiles:
    default: dev

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

hourlyWage: 10030 # 2025년 기본 시급