spring:
  application:
    name: ArbeitMate

  datasource:
    url: jdbc:h2:tcp://localhost/~/ArbeitMate
    username: sa
    password:
    driver-class-name: org.h2.Driver

    rabbitmq:
      host: localhost
      port: 5672
      username: guest
      password: guest

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #show_sql: true
        format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

hourlyWage: 10030 # 2025년 기본 시급